body{
    font-family: Arial;
}

h1{
    font-style: italic;
}

h2{
    color:blue;
}

.align-right{
    text-align: right;
    color: purple;
    font-weight: bold;
}
.relative{
    position: relative;
    left: 80px;
    top: 20px;
    height: 100px;
    background-color: yellow;
}
