a:link {
    color: green;
  }
  
  a:visited {
    color: red;
  }
  
  a:hover {
    color: orange;
    font-size: 32px;
  }
  
  a:focus {
    color: #f507ed;
    font-size: 32px;
  }
  
  a:active {
    color: #07a2f5;
  }